name: Publish to NPM Registry

on:
  push:
    tags:
      - "v*"

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22.12.0"
          registry-url: "https://registry.npmjs.org/"

      - name: Install dependencies
        run: pnpm install

      - name: Test project
        run: pnpm test

      - name: Build project
        run: pnpm build

      - name: Bump version in package.json from tag
        run: |
          TAG_VERSION=${GITHUB_REF##*/}
          NEW_VERSION=${TAG_VERSION#v}
          jq --arg version "$NEW_VERSION" '.version = $version' package.json > package.tmp.json
          mv package.tmp.json package.json

      - name: Publish to NPM
        run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
